<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get calendar</title>
</head>
<body>
<form th:method="POST" th:action="@{/calendar/new}" th:object="${calendarTemplate}">
    <input id="beginningYear" placeholder="Enter beginning year" required type="text" th:field="*{beginningYear}"/>
    <input id="endYear" placeholder="Enter end year" required type="text" th:field="*{endYear}"/>
    <input id="dayName" placeholder="Enter day name" required type="text" th:field="*{anchorWeekDay.dayName}"/>
    <input id="weekDayWorkOut" placeholder="Enter is it working day" required type="text" th:field="*{anchorWeekDay.weekDayWorkOut}"/>
    </div>
    <input type="submit" value="Set year period">
</form>
<br>
<form method="POST" th:action="@{/calendar/new/addYearInitializer}">
    <button type="submit" name="submit" value="value" class="link-button">Add Year</button>
</form>
<br>
<form method="POST" th:action="@{/calendar/new/addWeekDayInitializer}">
    <button type="submit" name="submit" value="value" class="link-button">Add WeekDay</button>
</form>
<br>
<form method="POST" th:action="@{/calendar/new/savePage}">
    <button type="submit" name="submit" value="value" class="link-button">Save</button>
</form>
</body>
</html>