<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Get calendar</title>
</head>
<body>
<form th:method="POST" th:action="@{/calendar}" th:object="${request}">
    <input id="year" placeholder="Enter Year" required type="text" th:field="*{year}"/>
    <br>
    <input id="configPath" placeholder="Enter Config Path" required type="text" th:field="*{configPath}"/>
    <br>
    <select id="configType" required th:field="*{configType}">
        <option value="">Select a type</option>
        <option value="JAXB">JAXB</option>
        <option value="JDBC">JDBC</option>
        <option value="JSON">JSON</option>
        <option value="DOM">DOM</option>
        <option value="SAX">SAX</option>
        <option value="AUTO">AUTO</option>
    </select>
    </div>
    <input type="submit" value="Request calendar">
</form>
</body>
</html>